<div class="sidebar p-3">
  <h4 class="text-center mb-2">
    <img class="img-responsive adminLogo" src="/admin/images/logo2.png" alt="logo">
  </h4>
  <ul class="nav flex-column" id="sidebarMenu">

    <ul class="nav flex-column" id="sidebarMenu">
      <!-- Dashboard -->
      <li class="nav-item mb-2 <%= session.sidebar?.dashboard ? '' : 'd-none' %>">
        <a href="/dashboard" class="nav-link"><span><i class="fa-solid fa-house me-2"></i> Dashboard</span></a>
      </li>

      <!-- Role Management -->
      <li class="nav-item mb-2 <%= session?.sidebar?.rolesManagement ? '' : 'd-none' %>">
        <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#roleMenu"
          role="button" aria-expanded="false" aria-controls="roleMenu">
          <span><i class="bi bi-person-gear me-2"></i> Role Management</span>
          <i class="bi bi-chevron-down"></i>
        </a>

        <!-- data-bs-parent makes this an accordion under #sidebarMenu -->
        <ul class="collapse list-unstyled ps-3" id="roleMenu" data-bs-parent="#sidebarMenu">
          <li class="sub-item <%= session?.sidebar?.manageRoles ? '' : 'd-none' %>">
            <a href="/roles/rolesManagement" class="nav-link sub-link"><i class="bi bi-briefcase me-2"></i> Manage
              Roles</a>
          </li>
          <li class="sub-item <%= session?.sidebar?.backendUsers ? '' : 'd-none' %>">
            <a href="/roles/backendUserManagement" class="nav-link sub-link"><i class="bi bi-person me-2"></i> Backend
              Users</a>
          </li>
        </ul>
      </li>

      <!-- Candidate Management -->
      <li class="nav-item mb-2 <%= session?.sidebar?.candidateManagement ? '' : 'd-none' %>">
        <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          href="#candidatesMenu" role="button" aria-expanded="false" aria-controls="candidatesMenu">
          <span><i class="bi bi-people me-2"></i> Candidate Management</span>
          <i class="bi bi-chevron-down"></i>
        </a>

        <ul class="collapse list-unstyled ps-3" id="candidatesMenu" data-bs-parent="#sidebarMenu">
          <li class="sub-item <%= session?.sidebar?.candidateUsers ? '' : 'd-none' %>">
            <a href="/candidate/candidatesManagement" class="nav-link sub-link"><i class="bi bi-person me-2"></i>
              Candidate
              Users</a>
          </li>
        </ul>
      </li>

      <!-- Coupan -->
      <li class="nav-item mb-2 <%= session?.sidebar?.couponManagement ? '' : 'd-none' %>">
        <a href="/coupon/couponManagement" class="nav-link"><i class="bi bi-patch-question me-2"></i>Coupon Management
        </a>
      </li>

      
      <!-- Website Management -->
      <li class="nav-item mb-2 <%= session?.sidebar?.websiteManagement ? '' : 'd-none' %>">
        <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          href="#websiteManagement" role="button">
          <span><i class="bi bi-laptop me-2"></i> Website Management</span>
          <i class="bi bi-chevron-down"></i>
        </a>
        <ul class="collapse list-unstyled ps-3" id="websiteManagement">
          <li class="sub-item <%= session?.sidebar?.manageBanners ? '' : 'd-none' %>">
            <a href="/banner/bannerManagement" class="nav-link sub-link"><i class="bi bi-image me-2"></i>Banner
              Management</a>
          </li>
          <li class="sub-item <%= session?.sidebar?.manageBlogs ? '' : 'd-none' %>">
            <a href="/blogs/blogsManagement" class="nav-link sub-link"><i class="bi bi-journal-text me-2"></i>Blogs
              Management</a>
          </li>
          <li class="sub-item <%= session?.sidebar?.manageContactUs ? '' : 'd-none' %>">
            <a href="/contactUs/contactUs" class="nav-link sub-link"><i class="bi bi-telephone me-2"></i>Contact
              Us</a>
          </li>
          <li class="sub-item <%= session?.sidebar?.manageTestimonials ? '' : 'd-none' %>">
            <a href="/testimonial/testimonialManagement" class="nav-link sub-link"><i
                class="bi bi-chat-quote me-2"></i>Testimonial Management</a>
          </li>
        </ul>
      </li>

      <!-- Faq Management -->
      <li class="nav-item mb-2 <%= session?.sidebar?.faqManagement ? '' : 'd-none' %>">
        <a href="/faq/faqManagement" class="nav-link"><i class="bi bi-patch-question me-2"></i>Faq
          Management
        </a>
      </li>

      <!-- Configuration -->
      <li class="nav-item mb-2 <%= session?.sidebar?.configuration ? '' : 'd-none' %>">
        <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          href="#configuration" role="button">
          <span><i class="bi bi-gear me-2"></i> Configuration</span>
          <i class="bi bi-chevron-down"></i>
        </a>
        <ul class="collapse list-unstyled ps-3" id="configuration">
          <li class="sub-item <%= session?.sidebar?.appSetting ? '' : 'd-none' %>">
            <a href="/configuration/appSetting" class="nav-link sub-link"><i class="bi bi-sliders me-2"></i>App
              Setting</a>
          </li>
        </ul>
      </li>
    </ul>
  </ul>
</div>